version: '3.8'

services:
  pomai:
    build: . 
    image: pomaidb:local
    container_name: pomai_server
    restart: unless-stopped
    
    deploy:
      resources:
        limits:
          cpus: '4'     
          memory: 12G   
  
    ports:
      - "7777:7777/udp" 
      - "7777:7777/tcp"
    
    volumes:
      - ./pomai_data:/data
   
    environment:
      - POMAI_DB_DIR=/data
      - POMAI_PORT=7777

    ulimits:
      nofile:
        soft: 65536
        hard: 65536